{% extends 'main/base.html' %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl" style="width: 20%;">
    <h1 class="mb-6 text-3xl">{{ title }}</h1>

    <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.category %}
            <div class="mb-3">
                <label class="inline-block mb-2">Category</label><br>
                {{ form.category }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label class="inline-block mb-2">Item Name</label><br>
            {{ form.name }}
        </div>
        
        <div class="mb-3">
            <label class="inline-block mb-2">Description</label><br>
            {{ form.description }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Price</label><br>
            {{ form.price }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Upload an Image</label><br>
            {{ form.image }}
        </div>


        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>

</div>

{% endblock %}