{% extends 'main/base.html' %}

{% block content %}
            <!-- ##################### User information section #################### -->
             <div class="container-fluid products big-padding pt-3">
               <div class="container-xl">
                   <div class="section-title row">
                    {% if user.is_authenticated %}
                        <h2 class="fs-1 fw-bolder warning">{{ user.username }}</h2>
                        <h4>{{user.email}}</h4>
                        <h6> Last login: {{ user.last_login }} </h6>  
                    </div>
                    <div style="float: inline-end;">
                        <button class="btn btn-warning"><a href="{% url 'userProfile:new' %}">Sell a new item</a></button>
                        <button class="btn btn-danger" ><a href="{% url 'mainPage:logout' %}">LogOut</a></button>
                    </div>
                    {% endif %}
                </div>
            </div>
                  
             <!-- ##################### Cart Starts Here #################### -->
           <div class="container-fluid products big-padding px-3 py-5">
               <div class="container-xl">
                <h4>Your Cart</h4>
                   <div class="row">
                    {% for cart_item in cart_items %}
                       <div class="col-lg-3 col-md-4 mb-4">
                           <a href="{% url 'productDetails:detail' cart_item.id %}">
                           <div class="product bg-white text-center shadow-md">
                               <img src="{{ cart_item.image.url }}" alt="">
                                <div class="d-inline-block">
                                   <h2 class="fw-bolder fs-5">{{ cart_item.name }}</h2>
                                   <span class="fw-bolder fs-4">£ {{ cart_item.price }}</span>
                               </div>
                           </div>
                           </a>
                       </div>
                       {% endfor %}
                   </div>
           </div>
            
             <!--########################## User's Item Starts Here ############################# -->
            
            <div id="blog" class="service container-fluid px-4 bg-white py-5">
                <div class="container">
                 <div class="section-title row mb-3">
                    <h4>Your Item</h4>
                </div>
                <div class="row mt-5">
                    {% for item in items %}
                    <div class="col-lg-4 col-md-6 mb-4">
                       <div class="serv-cove rounded bg-white p-2">
                            <img src="{{ item.image.url }}" alt="">
                            <div class="p-2">
                                <h5 class="mt-3 fs-7 fw-bold">{{item.name}}</h5>
                                <button type="button" class="btn btn-warning"><a href="{% url 'userProfile:edit' item.id %}">Edit</a></button>
                                <button type="button" class="btn btn-danger"><a href="{% url 'userProfile:delete' item.id %}">Delete</a></button>
                            </div>
                       </div>
                    </div>
                    {% endfor %}  
                </div>
                </div>
{% endblock %}